* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.bg {
    background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3MzkwOTE4NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080')
    ;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(90px);
}

.loading-text {
    font-size: 50px;
    color: white;
    font-weight: bolder;

}